
[submodule "workspace/noetic_src/universal_robot"]
	path = workspace/noetic_src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
	branch = noetic_devel
[submodule "workspace/kinetic_src/robotiq"]
	path = workspace/kinetic_src/robotiq
	url = https://github.com/ros-industrial-attic/robotiq.git
	branch = kinetic_devel
