
[submodule "workspace/noetic_src/universal_robot"]
	path = workspace/noetic_src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
	branch = noetic_devel
[submodule "workspace/kinetic_src/robotiq"]
	path = workspace/kinetic_src/robotiq
	url = https://github.com/ros-industrial-attic/robotiq.git
	branch = kinetic_devel
[submodule "workspace/kinetic_src/universal_robot"]
	path = workspace/kinetic_src/universal_robot
	url = https://github.com/ros-industrial/universal_robot.git
	branch = kinetic_devel
[submodule "workspace/kinetic_src/ur_modern_driver"]
	path = workspace/kinetic_src/ur_modern_driver
	url = https://github.com/ros-industrial-attic/ur_modern_driver.git
	branch = kinetic_devel
[submodule "workspace/kinetic_src/ros_control"]
	path = workspace/kinetic_src/ros_control
	url = https://github.com/ros-controls/ros_control.git
	branch = kinetic_devel
[submodule "workspace/noetic_src/robotiq"]
	path = workspace/noetic_src/robotiq
	url = https://github.com/clearpathrobotics/robotiq.git
	branch = noetic_devel
[submodule "workspace/noetic_src/warehouse_ros_mongo"]
	path = workspace/noetic_src/warehouse_ros_mongo
	url = https://github.com/moveit/warehouse_ros_mongo.git
	branch = noetic_devel
[submodule "workspace/noetic_src/trac_ik"]
	path = workspace/noetic_src/trac_ik
	url = https://bitbucket.org/traclabs/trac_ik.git
	branch = master
[submodule "workspace/noetic_src/soem"]
	path = workspace/noetic_src/soem
	url = https://github.com/orocos/soem.git
	branch = melodic
[submodule "workspace/noetic_src/ros_canopen"]
	path = workspace/noetic_src/ros_canopen
	url = https://github.com/ros-industrial/ros_canopen.git
	branch = melodic-devel
[submodule "workspace/noetic_src/mongo-cxx-driver"]
	path = workspace/noetic_src/mongo-cxx-driver
	url = https://github.com/mongodb/mongo-cxx-driver.git
	branch = 26compat
